

.lobbySetup{
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: fit-content;
    background-color: var(--color-primary);
    padding: 15px;
    border-radius: var(--border-radius);
}

.lobbySetup > * {
    border-radius: var(--border-radius);
}

.lobbySetup > button {
    font-size: large;
    font-weight: bolder;
}

.containerNameLang{
    display: flex;
    margin-bottom: 10px;
}
.containerNameLang > *{
    border-radius: var(--border-radius);
}

.inputName{
    padding: 7px;
    flex-grow: 1;
    margin-right: 10px;
    border: 2px solid transparent;
}

.inputName:focus{
    outline: none;
    border-color: var(--color-focus-border);
}

select{
    border: 2px solid transparent;
}
select:focus{
    outline: none;
    border-color: var(--color-focus-border);
}

.buttonJoin{
    margin-top: 15px;
    background-color: var(--color-success);
    color: white;
    padding: 12px 0px ;
    border: var(--color-success);
    margin-bottom: 8px;
}

.buttonJoin:hover{
    cursor: pointer;
    background-color: var(--color-success-hover);
    border: var(--color-success-hover);
}

.buttonCreate{
    background-color: var(--color-info);
    color: white;
    padding: 8px 0px;
    border: var(--color-info);
}

.buttonCreate:hover{
    cursor: pointer;
    background-color: var(--color-info-hover);
    border: var(--color-info-hover);
}


.disabled{
    visibility: hidden;
}
