
.gameHeader{
    background-color: white;
    display: flex;
    align-items: center;
    gap:10px;
    width:100%;
    height: 100%;
    border-radius: var(--border-radius);
}

.clock{
    height: 100%;
    margin-right: auto;
    padding-left: 10px;
}

.settings{
    height: 80%;
    width: auto;
    object-fit: contain;
    margin-left: auto;
    padding-right: 10px;
}

