.roomCodeDialog{
    display: flex;
    flex-direction: column;
    gap: 6px;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: fit-content;
    background-color: var(--color-primary);
    padding: 15px;
    border-radius: var(--border-radius);
}

.roomCodeDialog > button {
    font-size: large;
    font-weight: bolder;
}

.roomIdInput{
    border: 2px solid transparent;
    border-radius: var(--border-radius);
    padding: 7px;
    width: 100%;
    box-sizing: border-box;
}

.roomIdInput:focus{
    outline: none;
    border-color: var(--color-focus-border);
}

.joinRoomButton{
    margin-top: 15px;
    background-color: var(--color-success);
    color: white;
    padding: 15px;
    border: var(--color-success);
    border-radius: var(--border-radius);
}

.joinRoomButton:hover{
    cursor: pointer;
    background-color: var(--color-success-hover);
    border: var(--color-success-hover);
}

.backButton{
    background-color: var(--color-info);
    color: white;
    padding: 10px;
    border: var(--color-info);
    border-radius: var(--border-radius);
}

.backButton:hover{
    cursor: pointer;
    background-color: var(--color-info-hover);
    border: var(--color-info-hover);
}

.namebox{
    display: flex;
}
